@import url('https://fonts.googleapis.com/css2?family=Zen+Loop&display=swap');
*{
  /* font-family: 'Zen Loop', cursive; */
  margin: 0;
  padding: 0;
  box-sizing:border-box;
}
html{
  overflow: hidden;
}
body{
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}

#loader{
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 9;
}
#spanloading{
  font-family: 'Ubuntu', sans-serif;
  font-size: 25px;
  display:inline-block;
  background-color: white;
  color: black;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
#spanloading2{
  font-family: 'Lobster';
  font-size: 25px;
  display:inline-block;
  background-color: white;
  color: black;
  position: absolute;
  bottom: 55px;
  right: 0;
  transform: translate(-50%, -50%);
  text-align: center;
}

.bg-pic{
  position:fixed;
  z-index: -3;
  background:rgb(147, 184, 0);
  background-image: url(https://source.unsplash.com/1600x900/?nature);
  background-size: cover;
  /* animation: moving 85s linear infinite; */
  height: 100vh;
  width: 100vw;
}


.anime{
  position:fixed;
  z-index: -3;
  background: #373647;
  background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);
  height: 100vh;
  width: 100vw;
}

.circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.7);
    animation: animate 25s linear infinite;
    bottom: -150px;

}

.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}



@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}


nav{
  position: relative;
  font-family: 'Ubuntu', sans-serif;
  background-color: rgba(172, 142, 142, 0.23);
  border-radius: 3px;
  z-index: 2;
  display: flex;
  padding: 0.7% 8%;
  justify-content: space-between;
  align-items: center;
  transition: 0.5s;
}
nav:hover{
  border-radius: 15px;
  margin:0 5% 0 5%;
  background-color: rgba(250, 250, 250, 0.23);
  padding: 0.7% 3%;
}
nav span{
  font-weight:500;
  font-size: 25px;
  padding-left: 2%;
}
nav span a{
  text-decoration: none;
  color: aliceblue;
}
nav img{
  width: 55px;
}

.nav-link{
  font-family: 'Poppins', sans-serif;
  flex:1;
  text-align: right;
  transition: 1s;
}
.nav-link ul li{
  display: inline-block;
  list-style: none;
  padding: 8px 12px;
  position: relative;
}
.nav-link ul li a{
  color: aliceblue;
  text-decoration: none;
  font-weight: bold;
  font-size: 17px;
}

.blur{
  visibility: hidden;
  position: absolute;
  z-index:11;
  width: 100%;
  height: 100%;
  transition: 0.2s;
  opacity: 0;
}
.blur.active{
  visibility: visible;
  opacity: 1;
  backdrop-filter: blur(6px) grayscale(0.3);
}
.blur span{
  cursor: pointer;
  position: absolute;
  top:0;
  color: white;
  right: 10px;
  font-size: 2em;
}
.blur img{
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  object-fit: contain ;
  width: 90%;
  height: 90%;
}
/* .wrap::before{
  content: '';
  filter: blur(10px);
} */
.wrap{
  border: 2px solid white;
  border-radius: 7px;
  padding: 12px;
  backdrop-filter: blur(5px);
  filter:;
  margin:0px;
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  align-items: center;
  height: 80%;
  width: 95%;
  overflow: auto;
  top:53%;
  left:50%;
  transform: translate(-50%,-50%);
}
::-webkit-scrollbar-track{
  margin: 20px;
  border-radius: 10px;
  background: rgba(4, 210, 255, 0.28);
}
::-webkit-scrollbar-thumb {
  background: rgba(112, 0, 255, 0.53);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 0, 245, 0.63);
}
::-webkit-scrollbar {
  width: 9px;
}

.container{
  display: inline;
  position: relative;
  column-count: 5;
  column-gap: 13px;
  border-radius: 7px;
  padding: 5px;
  break-inside: avoid;
  overflow: hidden;
}
/* .box{
  position: relative;
  background: yellow;

} */
.image_box{
  margin: 0 0 auto;
  break-inside: avoid;
}
.image_box img{
  cursor: pointer;
  transition: 0.2s;
  filter: grayscale(0.5) ;
  width: 100%;
  border-radius: 9px;
  vertical-align: middle;
  margin-top: 20px;
}
.image_box:hover img{
  filter: grayscale(0);
  transform: scale(1.02);
}

.image_box h1{
  text-align: left;
  position:absolute;
  display: ;
  transform: scale(1.02);
  padding: 0 50px;
  margin-top: 21px;
  border-radius: 5px;
  font-family: 'Poppins', sans-serif;
  z-index: 1;
  color: white;
  /* top: 5px;
  left: 19px; */
  background-color: rgba(2, 15, 19, 0.75);
  opacity: 0;
  transition: 0.21s;
}
.image_box:hover h1{
  opacity: 1;
  margin-left: 23px;
}

.footer{
  font-family: 'Poppins', sans-serif;
  position: absolute;
  width: 95vw;
  margin:0 auto;
  text-align:center;
  color: white;
  align-items: center;
  bottom: 0;
  right: 0;
  left: 0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  display: inline-block;
  background: rgba(0, 19, 9, 0.5);
}

.BURGER{
  display: none;
}
.BURGER div{
  width: 25px;
  height: 3px;
  margin: 5px;
  background-color:aliceblue;
}

.toggle .line1{
  background-color: yellow;
  transform: rotate(45deg) translate(4px,7px);
}
.toggle .line2{
  opacity: 0;
}
.toggle .line3{
    background-color: yellow;
  transform: rotate(-45deg) translate(4px,-7px);
}
@media screen and (max-width:800px){
  .container{
    column-count: 3;
  }
}
@media screen and (max-width:600px){
  .container{
    column-count: 2;
  }
  /* .box{
    width: 140px;
    height: 100px;
    margin: 9px auto;
    display: inline-block;
  }
  .image_box img{
    width: 140px;
    height: 100px;
  } */
}


/* @media screen and (max-height:650px){
  nav{

  }
} */

@media screen and (max-width: 700px){
  .image_box h1{
    opacity: 1;
    margin-left: ;

    text-align: left;
    transform: scale(1.02);
    padding: 0 10px;
    margin: 25px 0 0 5px;
    border-radius: 5px;
  }


  .BURGER{
    display:block;
  }
  nav{
    height: 71px;
  }
  nav:hover{
    border-radius: 0;
    margin:0 ;
    background-color: rgba(0, 0, 0, 0.64);
    padding: 0.7% 8%;
  }
  .nav-link ul li{
    display:block;
    padding-top: 25px;
  }
  .nav-link ul li a{
    font-size: 23px;
  }
  .nav-link{
    z-index: 1;
    position: absolute;
    display: block;
    height: 100vh;
    width: 50%;
    background-color: rgba(0, 0, 0, 0.64);
    top: 71px;
    right: 0;
    text-align: left;
    padding: 22px;
  }

  .panal{
    opacity: 0;
    right: -51%;
  }
  .panal ul li:first-child{
    opacity: 0;
    transform: translateX(105px);
  }
  .panal ul li:nth-child(2){
    opacity: 0;
    transform: translateX(205px);
  }
  .panal ul li:last-child{
    opacity: 0;
    transform: translateX(305px);
  }
}
